:root {
    --color-light-green: #a6b477;
    --color-light-green-sand: #d4d3b6;
    --page-background: #141414;
    --block-background-dark: #262626;
    --color-sand: #ece4d9;
    --color-red: #da2d2d;
    --color-green: #6d8d26;
    --color-yellow: #FFA500;
    --color-mint: #59C0B8;
    --color-pink: #FF517B;
    --color-purple: #B960E3;
    --color-blue: #1775b7;
    --color-orange: #FF8F51;
    --color-dark: #141414;
    --color-light: #fff;
    --color-gray: #8f8f8f;
    --color-maroon: #58190e;
    --color-shadow-1: rgba(20, 20, 20, 0.05);
    --color-bg-page: #2a2928;
    --color-bg-page-gradient: rgba(42, 41, 40, 0.9);
    --color-link: #ece4d9;
    --color-link-hover: #fdfcfb;
    --color-button-bg: #ece4d9;
    --color-button-bg-hover: #a6b477;
    --color-button-text: #2e2e2e;
    --color-button-text-hover: #212121;
    --color-input-bg: #e4d8c8;
    --color-input-border-focus: #99ab65;
    --color-border: #c7c7c7;
    --color-border-hover: #adadad;
    --color-text-primary: #ece4d9;
    --color-text-muted: #8f8f8f;
}

.container {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.menu {
    width: 200px;  /* Ширина левого меню */
    background-color: var(--color-bg-page);
}

.main-panel {
    flex-grow: 1; /* Центральная панель займет оставшееся пространство */
    background-color: var(--color-bg-page-gradient);
    padding: 20px;
}

.random-panel {
    display: flex;
    justify-content: space-between;
    gap: 20px; /* Расстояние между блоками */
    width: 100%;
}

.random-spell-block, .random-item-block {
    background-color: var(--block-background-dark);
    color: var(--color-text-primary);
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    width: 48%;  /* Сужаем ширину для двух блоков рядом */
    box-sizing: border-box;  /* Учитывает отступы и границы в расчетах ширины */
    max-width: 400px;  /* Максимальная ширина блока */
    box-shadow: 0px 4px 8px var(--color-shadow-1);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-height: 500px;  /* Максимальная высота блока */
    overflow-y: auto;   /* Включаем вертикальную прокрутку, если контента слишком много */
}

.random-spell-block h2, .random-item-block h2 {
    font-size: 1.5em;
    margin-bottom: 15px;
}

.spell-description, .item-description {
    font-size: 0.9em;
    color: var(--color-text-muted);
    margin-bottom: 10px;  
    line-height: 1.4;
    flex-grow: 1;  /* Чтобы текст заполнял доступное пространство, но не растягивал блок */
    overflow-wrap: break-word; /* Разрыв длинных слов, чтобы не было переноса за пределы */
}

.spell-link, .item-link {
    text-decoration: none;
    color: var(--color-link);
    font-weight: bold;
    margin: 10px 0;  /* Отступ сверху и снизу для правильного расположения */
    transition: color 0.3s;
}

.spell-link:hover, .item-link:hover {
    color: var(--color-yellow);
}

button {
    background-color: var(--color-button-bg);
    color: var(--color-button-text);
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    margin-top: 10px; /* Чтобы кнопка не слипалась с текстом */
}

button:hover {
    background-color: var(--color-button-bg-hover);
    color: var(--color-button-text-hover);
}

/* Дополнительные стили для карточек */
.card {
    padding: 0;
    margin: 0 0 8px;
    z-index: 2;
}

.paper-1 {
    padding: 8px;
    border-radius: 4px;
}

.section-title {
    font-size: 24px;
    padding: 0 0 8px;
    line-height: 1;
    color: var(--color-sand);
}

.paper-1 {
    background-color: var(--color-sand);
}

/* Отступы для блоков */
.block.block_100, .cont {
    width: 150%;
}

.block {
    padding: 0 4px 8px;
    flex: 0 1 auto;
}

.block, .card__footer li {
    order: 0;
    align-self: auto;
}

menu, ol, ul {
    list-style: none;
}

