:root {
    --color-light-green: #a6b477;
    --color-light-green-sand: #d4d3b6;
    --page-background: #141414;
    --block-background-dark: #262626;
    --color-sand: #ece4d9;
    --color-red: #da2d2d;
    --color-green: #6d8d26;
    --color-yellow: #FFA500;
    --color-mint: #59C0B8;
    --color-pink: #FF517B;
    --color-purple: #B960E3;
    --color-blue: #1775b7;
    --color-orange: #FF8F51;
    --color-dark: #141414;
    --color-light: #fff;
    --color-gray: #8f8f8f;
    --color-maroon: #58190e;
    --color-shadow-1: rgba(20, 20, 20, 0.05);
    --color-bg-page: #2a2928;
    --color-bg-page-gradient: rgba(42, 41, 40, 0.9);
    --color-link: #ece4d9;
    --color-link-hover: #fdfcfb;
    --color-button-bg: #ece4d9;
    --color-button-bg-hover: #a6b477;
    --color-button-text: #2e2e2e;
    --color-button-text-hover: #212121;
    --color-input-bg: #e4d8c8;
    --color-input-border-focus: #99ab65;
    --color-border: #c7c7c7;
    --color-border-hover: #adadad;
    --color-text-primary: #ece4d9;
    --color-text-muted: #8f8f8f;
}
:root {
    --color_light_green: #a6b477;
    --color_light_green_sand: #d4d3b6;
    --page-background: #141414;
    --block-background-dark: #262626;
    --color-sand: #ece4d9;
    --color-red: #da2d2d;
    --color-green: #6d8d26;
    --color-yellow: #FFA500;
    --color-mint: #59C0B8;
    --color-pink: #FF517B;
    --color-purple: #B960E3;
    --color-blue: #1775b7;
    --color-orange: #FF8F51;
    --color-dark: #141414;
    --color-light: #fff;
    --color-gray: #8f8f8f;
    --color-maroon: #58190e;
    --color-tech-1: rgba(236, 228, 217, 0.4);
    --color-tech-2: rgba(236, 228, 217, 0.1);
    --color-tech-3: rgba(143, 143, 143, 0.9);
    --image-tech-1: repeating-linear-gradient(45deg, rgba(0, 0, 0, .2) 0, rgba(0, 0, 0, .2) 0.4px, transparent 0, transparent 50%);
    --color-link-1: #ece4d9;
    --color-link-1-hover: #fdfcfb;
    --color-link-2: #ece4d9;
    --color-link-2-hover: #6d8d26;
    --color-link-3: #ece4d9;
    --color-link-3-hover: #fdfcfb;
    --color-text-1: #ece4d9;
    --color-text-2: #ece4d9;
    --color-text-main: #141414;
    --color-text-underline: rgba(20, 20, 20, 0.2);
    --color-text-underline-active: rgba(20, 20, 20, 0.75);
    --color-text-fade: #8f8f8f;
    --color-text-title: #58190e;
    --color-border-1: #3f3e3b;
    --color-border-2: #d6cfc5;
    --color-border-3: #c1bab2;
    --color-shadow-1: rgba(20, 20, 20, 0.05);
    --color-bg-page: #2a2928;
    --color-bg-page-gradient: rgba(42, 41, 40, 0.9);
    --image-bg-page: url("images\bg_dark_.png");
    --color-bg-1: #141414;
    --color-bg-2: #212121;
    --color-bg-3: #262626;
    --color-bg-4: #2e2e2e;
    --color-bg-4-hover: #3a3a3a;
    --color-bg-veil: rgba(20, 20, 20, 0.85);
    --color-button-text-1: #2e2e2e;
    --color-button-text-1-hover: #212121;
    --color-button-bg-default: #ece4d9;
    --color-button-bg-primary-hover: #a6b477;
    --color-input-bg: #e4d8c8;
    --color-input-border-focus: #99ab65;
    --color-button-bg-red: #c97b7b;
    --color-button-bg-red-hover: #dd4847;
    --color-button-bg-green: #98a678;
    --color-button-bg-green-hover: #809a41;
    --color-button-bg-yellow: #dab167;
    --color-button-bg-yellow-hover: #fcae21;
    --color-button-bg-mint: #8fbdba;
    --color-button-bg-mint-hover: #6fc5bd;
    --color-button-bg-orange: #daa78b;
    --color-button-bg-orange-hover: #fc9c65;
    --color-button-bg-gray: #a7a7a7;
    --color-button-bg-gray-hover: #9d9c9a;
    --color-button-bg-gray-hover: #707070;
    --color-button-border: #c7c7c7;
    --color-button-border-hover: #adadad;
    --color-user-admin: #da2d2d;
    --color-user-moder: #1775b7;
    --comments-avatar-border: #f5f0ea;
    --color-card-info-bg: #dde0d6;
    --color-card-inner-border: rgba(20, 20, 20, 0.05);
    --color-bg-alert-message: #f2cbb0;
    --color-bg-alert-success: #c6caa3;
    --color-bg-alert-error: #e7ada5;
    --color-boosty: #F15F2C;
    --color-discord: #7289da;
    --color-yandex: #fc3f1d;
    --color-vkontakte: #0077FF;
    --color-telegram: #0088FF;
    --color-red-fade-05: rgba(218, 45, 45, 0.05);
    --color-green-fade-05: rgba(109, 141, 38, 0.05);
    --color-yellow-fade-05: rgba(255, 165, 0, 0.05);
    --color-mint-fade-05: rgba(89, 192, 184, 0.05);
    --color-pink-fade-05: rgba(255, 81, 123, 0.05);
    --color-purple-fade-05: rgba(185, 96, 227, 0.05);
    --color-blue-fade-05: rgba(23, 117, 183, 0.05);
    --color-orange-fade-05: rgba(255, 143, 81, 0.05);
    --color-dark-fade-05: rgba(20, 20, 20, 0.05);
    --color-gray-fade-05: rgba(143, 143, 143, 0.05);
    --color-sand-fade-05: rgba(236, 228, 217, 0.05);
    --color-white-fade-05: rgba(255, 255, 255, 0.05);
    --color-red-fade-1: rgba(218, 45, 45, 0.1);
    --color-green-fade-1: rgba(109, 141, 38, 0.1);
    --color-yellow-fade-1: rgba(255, 165, 0, 0.1);
    --color-mint-fade-1: rgba(89, 192, 184, 0.1);
    --color-pink-fade-1: rgba(255, 81, 123, 0.1);
    --color-purple-fade-1: rgba(185, 96, 227, 0.1);
    --color-blue-fade-1: rgba(23, 117, 183, 0.1);
    --color-orange-fade-1: rgba(255, 143, 81, 0.1);
    --color-dark-fade-1: rgba(20, 20, 20, 0.1);
    --color-gray-fade-1: rgba(143, 143, 143, 0.1);
    --color-sand-fade-1: rgba(236, 228, 217, 0.1);
    --color-white-fade-1: rgba(255, 255, 255, 0.1);
    --color-red-fade-2: rgba(218, 45, 45, 0.2);
    --color-green-fade-2: rgba(109, 141, 38, 0.2);
    --color-yellow-fade-2: rgba(255, 165, 0, 0.2);
    --color-mint-fade-2: rgba(89, 192, 184, 0.2);
    --color-pink-fade-2: rgba(255, 81, 123, 0.2);
    --color-purple-fade-2: rgba(185, 96, 227, 0.2);
    --color-blue-fade-2: rgba(23, 117, 183, 0.2);
    --color-orange-fade-2: rgba(255, 143, 81, 0.2);
    --color-dark-fade-2: rgba(20, 20, 20, 0.2);
    --color-gray-fade-2: rgba(143, 143, 143, 0.2);
    --color-sand-fade-2: rgba(236, 228, 217, 0.2);
    --color-white-fade-2: rgba(255, 255, 255, 0.2);
    --color-red-fade-3: rgba(218, 45, 45, 0.3);
    --color-green-fade-3: rgba(109, 141, 38, 0.3);
    --color-yellow-fade-3: rgba(255, 165, 0, 0.3);
    --color-mint-fade-3: rgba(89, 192, 184, 0.3);
    --color-pink-fade-3: rgba(255, 81, 123, 0.3);
    --color-purple-fade-3: rgba(185, 96, 227, 0.3);
    --color-blue-fade-3: rgba(23, 117, 183, 0.3);
    --color-orange-fade-3: rgba(255, 143, 81, 0.3);
    --color-dark-fade-3: rgba(20, 20, 20, 0.3);
    --color-gray-fade-3: rgba(143, 143, 143, 0.3);
    --color-sand-fade-3: rgba(236, 228, 217, 0.3);
    --color-white-fade-3: rgba(255, 255, 255, 0.3);
    --color-red-fade-4: rgba(218, 45, 45, 0.4);
    --color-green-fade-4: rgba(109, 141, 38, 0.4);
    --color-yellow-fade-4: rgba(255, 165, 0, 0.4);
    --color-mint-fade-4: rgba(89, 192, 184, 0.4);
    --color-pink-fade-4: rgba(255, 81, 123, 0.4);
    --color-purple-fade-4: rgba(185, 96, 227, 0.4);
    --color-blue-fade-4: rgba(23, 117, 183, 0.4);
    --color-orange-fade-4: rgba(255, 143, 81, 0.4);
    --color-dark-fade-4: rgba(20, 20, 20, 0.4);
    --color-gray-fade-4: rgba(143, 143, 143, 0.4);
    --color-sand-fade-4: rgba(236, 228, 217, 0.4);
    --color-white-fade-4: rgba(255, 255, 255, 0.4);
    --color-red-fade-5: rgba(218, 45, 45, 0.5);
    --color-green-fade-5: rgba(109, 141, 38, 0.5);
    --color-yellow-fade-5: rgba(255, 165, 0, 0.5);
    --color-mint-fade-5: rgba(89, 192, 184, 0.5);
    --color-pink-fade-5: rgba(255, 81, 123, 0.5);
    --color-purple-fade-5: rgba(185, 96, 227, 0.5);
    --color-blue-fade-5: rgba(23, 117, 183, 0.5);
    --color-orange-fade-5: rgba(255, 143, 81, 0.5);
    --color-dark-fade-5: rgba(20, 20, 20, 0.5);
    --color-gray-fade-5: rgba(143, 143, 143, 0.5);
    --color-sand-fade-5: rgba(236, 228, 217, 0.5);
    --color-white-fade-5: rgba(255, 255, 255, 0.5);
    --color-red-fade-6: rgba(218, 45, 45, 0.6);
    --color-green-fade-6: rgba(109, 141, 38, 0.6);
    --color-yellow-fade-6: rgba(255, 165, 0, 0.6);
    --color-mint-fade-6: rgba(89, 192, 184, 0.6);
    --color-pink-fade-6: rgba(255, 81, 123, 0.6);
    --color-purple-fade-6: rgba(185, 96, 227, 0.6);
    --color-blue-fade-6: rgba(23, 117, 183, 0.6);
    --color-orange-fade-6: rgba(255, 143, 81, 0.6);
    --color-dark-fade-6: rgba(20, 20, 20, 0.6);
    --color-gray-fade-6: rgba(143, 143, 143, 0.6);
    --color-sand-fade-6: rgba(236, 228, 217, 0.6);
    --color-white-fade-6: rgba(255, 255, 255, 0.6);
    --color-red-fade-7: rgba(218, 45, 45, 0.7);
    --color-green-fade-7: rgba(109, 141, 38, 0.7);
    --color-yellow-fade-7: rgba(255, 165, 0, 0.7);
    --color-mint-fade-7: rgba(89, 192, 184, 0.7);
    --color-pink-fade-7: rgba(255, 81, 123, 0.7);
    --color-purple-fade-7: rgba(185, 96, 227, 0.7);
    --color-blue-fade-7: rgba(23, 117, 183, 0.7);
    --color-orange-fade-7: rgba(255, 143, 81, 0.7);
    --color-dark-fade-7: rgba(20, 20, 20, 0.7);
    --color-gray-fade-7: rgba(143, 143, 143, 0.7);
    --color-sand-fade-7: rgba(236, 228, 217, 0.7);
    --color-white-fade-7: rgba(255, 255, 255, 0.7);
    --color-red-fade-8: rgba(218, 45, 45, 0.8);
    --color-green-fade-8: rgba(109, 141, 38, 0.8);
    --color-yellow-fade-8: rgba(255, 165, 0, 0.8);
    --color-mint-fade-8: rgba(89, 192, 184, 0.8);
    --color-pink-fade-8: rgba(255, 81, 123, 0.8);
    --color-purple-fade-8: rgba(185, 96, 227, 0.8);
    --color-blue-fade-8: rgba(23, 117, 183, 0.8);
    --color-orange-fade-8: rgba(255, 143, 81, 0.8);
    --color-dark-fade-8: rgba(20, 20, 20, 0.8);
    --color-gray-fade-8: rgba(143, 143, 143, 0.8);
    --color-sand-fade-8: rgba(236, 228, 217, 0.8);
    --color-white-fade-8: rgba(255, 255, 255, 0.8);
    --color-red-fade-9: rgba(218, 45, 45, 0.9);
    --color-green-fade-9: rgba(109, 141, 38, 0.9);
    --color-yellow-fade-9: rgba(255, 165, 0, 0.9);
    --color-mint-fade-9: rgba(89, 192, 184, 0.9);
    --color-pink-fade-9: rgba(255, 81, 123, 0.9);
    --color-purple-fade-9: rgba(185, 96, 227, 0.9);
    --color-blue-fade-9: rgba(23, 117, 183, 0.9);
    --color-orange-fade-9: rgba(255, 143, 81, 0.9);
    --color-dark-fade-9: rgba(20, 20, 20, 0.9);
    --color-gray-fade-9: rgba(143, 143, 143, 0.9);
    --color-sand-fade-9: rgba(236, 228, 217, 0.9);
    --color-white-fade-9: rgba(255, 255, 255, 0.9)
}
.card__group-classic {
    background-image: radial-gradient(250px at 0 0,var(--color-green-fade-4),transparent),radial-gradient(250px at 100% 100%,var(--color-green-fade-4),transparent)
}
.card {
    padding: 0;
    margin: 0 0 8px;
    z-index: 2
}
.card {
    padding: 0;
    margin: 0 0 8px;
    z-index: 2;
}

.paper-1 {
    padding: 8px;
    border-radius: 4px;
}

.section-title {
    font-size: 24px;
    padding: 0 0 8px;
    line-height: 1;
    color: var(--color-sand);
}

.paper-1 {
    background-color: var(--color-sand);
}

/* Отступы для блоков */
.block.block_100, .cont {
    width: 98%;
}

.block {
    padding: 0 4px 8px;
    flex: 0 1 auto;
}

.block, .card__footer li {
    order: 0;
    align-self: auto;
}

menu, ol, ul {
    list-style: none;
}
.row .card:last-of-type {
    margin-bottom: 0
}
.card-wrapper {
    background-repeat: no-repeat;
    background-position: 100% 0;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    border-radius: 4px;
    z-index: 2
}
.card-wrapper .card__body {
    padding: 4px
}
.card-more,.card__body {
    width: 100%
}
.cards-list__legend {
    display: flex;
    align-items: center;
    justify-content: right;
    flex-wrap: wrap;
    margin: 0 calc(-8px / 2) 8px;
    line-height: 1;
    position: relative;
    padding-bottom: 4px;
    margin-right: 20px;
}

@media (max-width: 576px) {
    .cards-list__legend {
        justify-content:left
    }
}
.cards-list__legend .cards_list__item-tag {
    width: auto;
    padding: 0 4px;
    font-size: 12px;
    line-height: 14px
}

.cards-list__legend [class*=" list-mark"],.cards-list__legend [class^=list-mark] {
    margin-right: 4px
}

.list-legend__break {
    margin: 8px 4px 0;
    flex: 1 1 100%
}

.cards-list__legend-item {
    display: flex;
    align-items: center;
    margin: 0 4px 4px
}

.cards-list__legend-item .item-title {
    margin-left: 2px
}

@media (max-width: 992px) {
    .cards-list__legend-item .cards_list__item-prefix,.cards-list__legend-item .cards_list__item-suffix {
        font-size:15px
    }
}
.cards_list__item-prefix,.cards_list__item-suffix {
    font-size: 14px;
    line-height: 1;
    display: block;
    color: var(--color-gray);
    opacity: 1;
    font-weight: 500;
    font-family: "Source Code Pro",monospace
}
.cards_list__item-prefix span,.cards_list__item-suffix span {
    color: var(--color-dark)
}

@media (max-width: 992px) {
    .cards_list__item-prefix,.cards_list__item-suffix {
        font-size:16px
    }
}

.cards_list__item-icon {
    display: block;
    font-size: 0;
    margin-right: 4px;
    fill: #616161
}

.cards_list__item-icon .svg {
    margin: 0
}

.cards_list__item-name {
    white-space: nowrap;
    -webkit-mask-image: linear-gradient(270deg,transparent 8px,#141414 24px);
    mask-image: linear-gradient(270deg,transparent 8px,#141414 24px);
    overflow: hidden;
    color: var(--color-dark);
    flex: 1 1 auto
}

.cards_list__item-tag {
    width: 4px;
    height: 14px;
    display: inline-block;
    font-size: 0;
    line-height: 0;
    font-weight: 500;
    font-family: "Source Code Pro",monospace;
    color: #474747;
    background-color: #8f8f8f;
    margin-right: 4px;
    border-radius: 4px;
    flex-shrink: 0
}

@media (max-width: 992px) {
    .cards_list__item-tag {
        width:auto;
        padding: 0 4px;
        font-size: 12px;
        line-height: 14px
    }
}
.cards_list__item-tag.concentration {
    background-image: linear-gradient(0,var(--color-mint-fade-9),var(--color-mint-fade-9)),linear-gradient(0,var(--color-sand),var(--color-sand))
}
.cards_list__item-tag.ritual {
    background-image: linear-gradient(0,var(--color-purple-fade-9),var(--color-purple-fade-9)),linear-gradient(0,var(--color-sand),var(--color-sand))
}
[class*=" list-svg"],[class^=list-svg] {
    display: block;
    font-size: 0;
    margin-right: 4px;
    fill: #616161
}
[class*=" list-svg"] .svg,[class^=list-svg] .svg {
    margin: 0
}
.cards_list__block-wrapper {
    position: relative;
    margin-right: 20px;
}

.cards_list__block-wrapper:not(:last-child) {
    margin-bottom: 12px
}
.cards_list__block-label {
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    padding: 4px 0;
    font-size: 16px;
    line-height: 1;
    float: left;
    position: sticky;
    top: 0;
    color: #807c77;
    font-weight: 500
}
.cards_list__block {
    -moz-column-count: 4;
    column-count: 4;
    -moz-column-gap: 8px;
    column-gap: 8px;
    transition: background-color .15s;
    margin-left: 16px
}

@media (max-width: 1200px) {
    .cards_list__block {
        -moz-columns:3;
        columns: 3
    }
}

@media (max-width: 992px) {
    .cards_list__block {
        -moz-columns:2;
        columns: 2
    }
}

@media (max-width: 576px) {
    .cards_list__block {
        -moz-columns:1;
        columns: 1
    }
}
.cards-list[data-font-size="13"] .cards_list__item,.cards-list[data-font-size="13"] .cards_list__item-prefix,.cards-list[data-font-size="13"] .cards_list__item-suffix {
    font-size: 13px
}

@media (max-width: 576px) {
    .cards-list[data-font-size="13"] .cards_list__item,.cards-list[data-font-size="13"] .cards_list__item-prefix,.cards-list[data-font-size="13"] .cards_list__item-suffix {
        font-size:14px
    }
}
.cards_list__item {
    -moz-column-break-inside: avoid;
    break-inside: avoid-column;
    display: block
}
.cards_list__item-wrapper {
    display: flex;
    align-items: center;
    padding: 2px 4px;
    position: relative
}
.cards_list__item-wrapper:hover {
    border-radius: 4px;
    background-color: var(--color-dark-fade-05)
}

@media (max-width: 992px) {
    .cards_list__item-wrapper {
        padding:4px
    }
}
.cards-list[data-font-size="13"] .cards_list__item,.cards-list[data-font-size="13"] .cards_list__item-prefix,.cards-list[data-font-size="13"] .cards_list__item-suffix {
    font-size: 13px
}
.cards_list__item-prefix,.cards_list__item-suffix {
    font-size: 14px;
    line-height: 1;
    display: block;
    color: var(--color-gray);
    opacity: 1;
    font-weight: 500;
    font-family: "Source Code Pro",monospace
}

.cards_list__item-prefix span,.cards_list__item-suffix span {
    color: var(--color-dark)
}

@media (max-width: 992px) {
    .cards_list__item-prefix,.cards_list__item-suffix {
        font-size:16px
    }
}
.cards_list__item-icon .svg {
    margin: 0
}

.cards_list__item-name {
    white-space: nowrap;
    -webkit-mask-image: linear-gradient(270deg,transparent 8px,#141414 24px);
    mask-image: linear-gradient(270deg,transparent 8px,#141414 24px);
    overflow: hidden;
    color: var(--color-dark);
    flex: 1 1 auto
}

.cards_list__item-tag {
    width: 4px;
    height: 14px;
    display: inline-block;
    font-size: 0;
    line-height: 0;
    font-weight: 500;
    font-family: "Source Code Pro",monospace;
    color: #474747;
    background-color: #8f8f8f;
    margin-right: 4px;
    border-radius: 4px;
    flex-shrink: 0
}
.cards-list[data-font-size="13"] .cards_list__item,.cards-list[data-font-size="13"] .cards_list__item-prefix,.cards-list[data-font-size="13"] .cards_list__item-suffix {
    font-size: 13px
}

@media (max-width: 576px) {
    .cards-list[data-font-size="13"] .cards_list__item,.cards-list[data-font-size="13"] .cards_list__item-prefix,.cards-list[data-font-size="13"] .cards_list__item-suffix {
        font-size:14px
    }
}
.cards-list__legend:after {
    content: "";
    width: 100%;
    height: 1px;
    position: absolute;
    left: 0;
    bottom: 0;
    background: linear-gradient(90deg,transparent 0,#d6cfc5 20%,#d6cfc5 80%,transparent 100%);
}
.cards_list__item-wrapper:before {
    content: "";
    height: 1px;
    background: linear-gradient(90deg,transparent 0,var(--color-dark-fade-1) 90%,transparent 100%);
    display: block;
    position: absolute;
    bottom: 2px;
    right: 0;
    left: 32px
}
.cards_list__block-wrapper:not(:last-child):before {
    content: "";
    position: absolute;
    bottom: -9px;
    left: 0;
    width: 100%;
    height: 2px;
    background-size: 4px 4px;
    background-image: var(--image-tech-1);
    -webkit-mask: linear-gradient(90deg,transparent 0,var(--color-dark) 30%,var(--color-dark) 75%,transparent 100%);
    mask: linear-gradient(90deg,transparent 0,var(--color-dark) 30%,var(--color-dark) 75%,transparent 100%)
}