body {
    font-family: "Arial", sans-serif;
    font-size: 15px;
    line-height: 1.4;
    font-weight: 400;
    color: var(--color-text-main)
}
a {
    text-decoration: none;
}
:root {
    --color_light_green: #a6b477;
    --color_light_green_sand: #d4d3b6;
    --page-background: #141414;
    --block-background-dark: #262626;
    --color-sand: #ece4d9;
    --color-red: #da2d2d;
    --color-green: #6d8d26;
    --color-yellow: #FFA500;
    --color-mint: #59C0B8;
    --color-pink: #FF517B;
    --color-purple: #B960E3;
    --color-blue: #1775b7;
    --color-orange: #FF8F51;
    --color-dark: #141414;
    --color-light: #fff;
    --color-gray: #8f8f8f;
    --color-maroon: #58190e;
    --color-tech-1: rgba(236, 228, 217, 0.4);
    --color-tech-2: rgba(236, 228, 217, 0.1);
    --color-tech-3: rgba(143, 143, 143, 0.9);
    --image-tech-1: repeating-linear-gradient(45deg, rgba(0, 0, 0, .2) 0, rgba(0, 0, 0, .2) 0.4px, transparent 0, transparent 50%);
    --color-link-1: #ece4d9;
    --color-link-1-hover: #fdfcfb;
    --color-link-2: #ece4d9;
    --color-link-2-hover: #6d8d26;
    --color-link-3: #ece4d9;
    --color-link-3-hover: #fdfcfb;
    --color-text-1: #ece4d9;
    --color-text-2: #ece4d9;
    --color-text-main: #141414;
    --color-text-underline: rgba(20, 20, 20, 0.2);
    --color-text-underline-active: rgba(20, 20, 20, 0.75);
    --color-text-fade: #8f8f8f;
    --color-text-title: #58190e;
    --color-border-1: #3f3e3b;
    --color-border-2: #d6cfc5;
    --color-border-3: #c1bab2;
    --color-shadow-1: rgba(20, 20, 20, 0.05);
    --color-bg-page: #2a2928;
    --color-bg-page-gradient: rgba(42, 41, 40, 0.9);
    --image-bg-page: url("dndnl\images\bg_dark_.png");
    --color-bg-1: #141414;
    --color-bg-2: #212121;
    --color-bg-3: #262626;
    --color-bg-4: #2e2e2e;
    --color-bg-4-hover: #3a3a3a;
    --color-bg-veil: rgba(20, 20, 20, 0.85);
    --color-button-text-1: #2e2e2e;
    --color-button-text-1-hover: #212121;
    --color-button-bg-default: #ece4d9;
    --color-button-bg-primary-hover: #a6b477;
    --color-input-bg: #e4d8c8;
    --color-input-border-focus: #99ab65;
    --color-button-bg-red: #c97b7b;
    --color-button-bg-red-hover: #dd4847;
    --color-button-bg-green: #98a678;
    --color-button-bg-green-hover: #809a41;
    --color-button-bg-yellow: #dab167;
    --color-button-bg-yellow-hover: #fcae21;
    --color-button-bg-mint: #8fbdba;
    --color-button-bg-mint-hover: #6fc5bd;
    --color-button-bg-orange: #daa78b;
    --color-button-bg-orange-hover: #fc9c65;
    --color-button-bg-gray: #a7a7a7;
    --color-button-bg-gray-hover: #9d9c9a;
    --color-button-bg-gray-hover: #707070;
    --color-button-border: #c7c7c7;
    --color-button-border-hover: #adadad;
    --color-user-admin: #da2d2d;
    --color-user-moder: #1775b7;
    --comments-avatar-border: #f5f0ea;
    --color-card-info-bg: #dde0d6;
    --color-card-inner-border: rgba(20, 20, 20, 0.05);
    --color-bg-alert-message: #f2cbb0;
    --color-bg-alert-success: #c6caa3;
    --color-bg-alert-error: #e7ada5;
    --color-boosty: #F15F2C;
    --color-discord: #7289da;
    --color-yandex: #fc3f1d;
    --color-vkontakte: #0077FF;
    --color-telegram: #0088FF;
    --color-red-fade-05: rgba(218, 45, 45, 0.05);
    --color-green-fade-05: rgba(109, 141, 38, 0.05);
    --color-yellow-fade-05: rgba(255, 165, 0, 0.05);
    --color-mint-fade-05: rgba(89, 192, 184, 0.05);
    --color-pink-fade-05: rgba(255, 81, 123, 0.05);
    --color-purple-fade-05: rgba(185, 96, 227, 0.05);
    --color-blue-fade-05: rgba(23, 117, 183, 0.05);
    --color-orange-fade-05: rgba(255, 143, 81, 0.05);
    --color-dark-fade-05: rgba(20, 20, 20, 0.05);
    --color-gray-fade-05: rgba(143, 143, 143, 0.05);
    --color-sand-fade-05: rgba(236, 228, 217, 0.05);
    --color-white-fade-05: rgba(255, 255, 255, 0.05);
    --color-red-fade-1: rgba(218, 45, 45, 0.1);
    --color-green-fade-1: rgba(109, 141, 38, 0.1);
    --color-yellow-fade-1: rgba(255, 165, 0, 0.1);
    --color-mint-fade-1: rgba(89, 192, 184, 0.1);
    --color-pink-fade-1: rgba(255, 81, 123, 0.1);
    --color-purple-fade-1: rgba(185, 96, 227, 0.1);
    --color-blue-fade-1: rgba(23, 117, 183, 0.1);
    --color-orange-fade-1: rgba(255, 143, 81, 0.1);
    --color-dark-fade-1: rgba(20, 20, 20, 0.1);
    --color-gray-fade-1: rgba(143, 143, 143, 0.1);
    --color-sand-fade-1: rgba(236, 228, 217, 0.1);
    --color-white-fade-1: rgba(255, 255, 255, 0.1);
    --color-red-fade-2: rgba(218, 45, 45, 0.2);
    --color-green-fade-2: rgba(109, 141, 38, 0.2);
    --color-yellow-fade-2: rgba(255, 165, 0, 0.2);
    --color-mint-fade-2: rgba(89, 192, 184, 0.2);
    --color-pink-fade-2: rgba(255, 81, 123, 0.2);
    --color-purple-fade-2: rgba(185, 96, 227, 0.2);
    --color-blue-fade-2: rgba(23, 117, 183, 0.2);
    --color-orange-fade-2: rgba(255, 143, 81, 0.2);
    --color-dark-fade-2: rgba(20, 20, 20, 0.2);
    --color-gray-fade-2: rgba(143, 143, 143, 0.2);
    --color-sand-fade-2: rgba(236, 228, 217, 0.2);
    --color-white-fade-2: rgba(255, 255, 255, 0.2);
    --color-red-fade-3: rgba(218, 45, 45, 0.3);
    --color-green-fade-3: rgba(109, 141, 38, 0.3);
    --color-yellow-fade-3: rgba(255, 165, 0, 0.3);
    --color-mint-fade-3: rgba(89, 192, 184, 0.3);
    --color-pink-fade-3: rgba(255, 81, 123, 0.3);
    --color-purple-fade-3: rgba(185, 96, 227, 0.3);
    --color-blue-fade-3: rgba(23, 117, 183, 0.3);
    --color-orange-fade-3: rgba(255, 143, 81, 0.3);
    --color-dark-fade-3: rgba(20, 20, 20, 0.3);
    --color-gray-fade-3: rgba(143, 143, 143, 0.3);
    --color-sand-fade-3: rgba(236, 228, 217, 0.3);
    --color-white-fade-3: rgba(255, 255, 255, 0.3);
    --color-red-fade-4: rgba(218, 45, 45, 0.4);
    --color-green-fade-4: rgba(109, 141, 38, 0.4);
    --color-yellow-fade-4: rgba(255, 165, 0, 0.4);
    --color-mint-fade-4: rgba(89, 192, 184, 0.4);
    --color-pink-fade-4: rgba(255, 81, 123, 0.4);
    --color-purple-fade-4: rgba(185, 96, 227, 0.4);
    --color-blue-fade-4: rgba(23, 117, 183, 0.4);
    --color-orange-fade-4: rgba(255, 143, 81, 0.4);
    --color-dark-fade-4: rgba(20, 20, 20, 0.4);
    --color-gray-fade-4: rgba(143, 143, 143, 0.4);
    --color-sand-fade-4: rgba(236, 228, 217, 0.4);
    --color-white-fade-4: rgba(255, 255, 255, 0.4);
    --color-red-fade-5: rgba(218, 45, 45, 0.5);
    --color-green-fade-5: rgba(109, 141, 38, 0.5);
    --color-yellow-fade-5: rgba(255, 165, 0, 0.5);
    --color-mint-fade-5: rgba(89, 192, 184, 0.5);
    --color-pink-fade-5: rgba(255, 81, 123, 0.5);
    --color-purple-fade-5: rgba(185, 96, 227, 0.5);
    --color-blue-fade-5: rgba(23, 117, 183, 0.5);
    --color-orange-fade-5: rgba(255, 143, 81, 0.5);
    --color-dark-fade-5: rgba(20, 20, 20, 0.5);
    --color-gray-fade-5: rgba(143, 143, 143, 0.5);
    --color-sand-fade-5: rgba(236, 228, 217, 0.5);
    --color-white-fade-5: rgba(255, 255, 255, 0.5);
    --color-red-fade-6: rgba(218, 45, 45, 0.6);
    --color-green-fade-6: rgba(109, 141, 38, 0.6);
    --color-yellow-fade-6: rgba(255, 165, 0, 0.6);
    --color-mint-fade-6: rgba(89, 192, 184, 0.6);
    --color-pink-fade-6: rgba(255, 81, 123, 0.6);
    --color-purple-fade-6: rgba(185, 96, 227, 0.6);
    --color-blue-fade-6: rgba(23, 117, 183, 0.6);
    --color-orange-fade-6: rgba(255, 143, 81, 0.6);
    --color-dark-fade-6: rgba(20, 20, 20, 0.6);
    --color-gray-fade-6: rgba(143, 143, 143, 0.6);
    --color-sand-fade-6: rgba(236, 228, 217, 0.6);
    --color-white-fade-6: rgba(255, 255, 255, 0.6);
    --color-red-fade-7: rgba(218, 45, 45, 0.7);
    --color-green-fade-7: rgba(109, 141, 38, 0.7);
    --color-yellow-fade-7: rgba(255, 165, 0, 0.7);
    --color-mint-fade-7: rgba(89, 192, 184, 0.7);
    --color-pink-fade-7: rgba(255, 81, 123, 0.7);
    --color-purple-fade-7: rgba(185, 96, 227, 0.7);
    --color-blue-fade-7: rgba(23, 117, 183, 0.7);
    --color-orange-fade-7: rgba(255, 143, 81, 0.7);
    --color-dark-fade-7: rgba(20, 20, 20, 0.7);
    --color-gray-fade-7: rgba(143, 143, 143, 0.7);
    --color-sand-fade-7: rgba(236, 228, 217, 0.7);
    --color-white-fade-7: rgba(255, 255, 255, 0.7);
    --color-red-fade-8: rgba(218, 45, 45, 0.8);
    --color-green-fade-8: rgba(109, 141, 38, 0.8);
    --color-yellow-fade-8: rgba(255, 165, 0, 0.8);
    --color-mint-fade-8: rgba(89, 192, 184, 0.8);
    --color-pink-fade-8: rgba(255, 81, 123, 0.8);
    --color-purple-fade-8: rgba(185, 96, 227, 0.8);
    --color-blue-fade-8: rgba(23, 117, 183, 0.8);
    --color-orange-fade-8: rgba(255, 143, 81, 0.8);
    --color-dark-fade-8: rgba(20, 20, 20, 0.8);
    --color-gray-fade-8: rgba(143, 143, 143, 0.8);
    --color-sand-fade-8: rgba(236, 228, 217, 0.8);
    --color-white-fade-8: rgba(255, 255, 255, 0.8);
    --color-red-fade-9: rgba(218, 45, 45, 0.9);
    --color-green-fade-9: rgba(109, 141, 38, 0.9);
    --color-yellow-fade-9: rgba(255, 165, 0, 0.9);
    --color-mint-fade-9: rgba(89, 192, 184, 0.9);
    --color-pink-fade-9: rgba(255, 81, 123, 0.9);
    --color-purple-fade-9: rgba(185, 96, 227, 0.9);
    --color-blue-fade-9: rgba(23, 117, 183, 0.9);
    --color-orange-fade-9: rgba(255, 143, 81, 0.9);
    --color-dark-fade-9: rgba(20, 20, 20, 0.9);
    --color-gray-fade-9: rgba(143, 143, 143, 0.9);
    --color-sand-fade-9: rgba(236, 228, 217, 0.9);
    --color-white-fade-9: rgba(255, 255, 255, 0.9)
}
body {
    background-color: var(--color-bg-page)
}

body.overflowed {
    overflow: hidden;
    height: 100vh
}

body:before {
    content: "";
    display: block;
    background-color: var(--color-bg-page);
    background-image: var(--image-bg-page);
    background-size: cover;
    background-attachment: fixed;
    background-position: 0 50%;
    background-repeat: no-repeat;
    position: fixed;
    z-index: -1;
    width: 100%;
    height: 100%
}

body:after {
    content: "";
    display: block;
    position: fixed;
    z-index: -1;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg,transparent 0,var(--color-bg-page-gradient) 9%,var(--color-bg-page-gradient) 91%,transparent 100%)
}

@media (max-width: 992px) {
    body {
        padding-top:41px
    }

    body:after,body:before {
        display: none
    }
}

.wrapper {
    max-width: 1596px;
    padding: 0 8px;
    margin: 0 auto
}

header {
    position: relative;
    z-index: 3;
    padding: 4px 0;
    background-color: var(--color-bg-2);
    border-bottom: 1px solid var(--color-border-1);
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.5);
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none
}

@media (max-width: 992px) {
    header {
        position:fixed;
        z-index: 99;
        top: 0;
        left: 0;
        width: 100%
    }
}

.header-user {
    background-color: #ece4d9;
    height: 0;
    overflow: hidden
}

.header {
    display: flex;
    align-items: center;
    flex-wrap: nowrap
}

@media (max-width: 992px) {
    .header {
        flex-wrap:wrap;
        padding-right: calc(32px + 8px)
    }
}

.header .header-logo,.header .header-page_title {
    font-size: 24px;
    color: var(--color-link-1)
}

.header .header-logo a,.header .header-page_title a {
    color: inherit;
    transition: all .15s
}

.header .header-logo a:hover,.header .header-page_title a:hover {
    color: var(--color-link-1-hover)
}

.header .header-logo {
    margin: 0 4px;
    position: relative;
    padding-right: 12px;
    font-weight: 700
}

.header .header-logo:after {
    content: "";
    position: absolute;
    top: calc(50% - 10px);
    right: 0;
    background-color: var(--color-tech-1);
    width: 2px;
    height: 20px
}

@media (max-width: 992px) {
    .header:not(.no-break) .header-logo {
        padding-right:0;
        flex: 1 1 auto;
        font-size: 20px
    }

    .header:not(.no-break) .header-logo:after {
        display: none
    }
}

@media (max-width: 992px) {
    .header:not(.no-break) .header-page_title {
        display:none
    }
}

.header .header-page_title {
    margin-right: 4px;
    padding-left: 8px;
    flex: 1 1 auto;
    font-weight: 400
}

.header .header-page_title .page-item {
    font-weight: 700
}
nav {
    color: #d1d1d1; /* Светло-серый текст */
    font-family: Arial, sans-serif;
    width: 250px; /* Ширина меню */
    border-radius: 5px;
    padding: 10px;
    box-sizing: border-box; /* Учитывать padding в размере меню */
}

.left_menu {
    list-style: none;
    color: var(--color-link-2);
    fill: var(--color-link-2);
    padding: 0;
    margin: 0;
}
.left_menu a {
    transition: all .15s;
    color: inherit
}

.left_menu .svg {
    margin-left: 0!important
}


.item_level_1 {
    position: relative;
    margin-bottom: 10px;
}

.item_link_1, .item_link_2 {
    text-decoration: none;
    display: flex;
    align-items: center;
    padding: 10px 10px; /* Ограничиваем высоту клика */
    border-radius: 5px;
    transition: background-color 0.3s ease, color 0.3s ease;
    box-sizing: border-box; /* Учитывать padding */
    position: relative;
}   

.left_menu .item_link_1,.left_menu .item_link_head {
    display: flex;
    align-items: center;
    padding: 4px 8px;
    border: 1px solid var(--color-border-1);
    border-radius: 4px;
    background-color: var(--color-bg-4);
    position: relative;
    z-index: 2
}

.item_text {
    flex-grow: 1; /* Расширение текста, чтобы он оставался слева */
    margin-left: 20px; /* Отступ от иконки */
    text-align: left; /* Выравнивание текста по левому краю */
}

.svg {
    width: 20px;  /* Устанавливаем ширину иконки */
    height: 20px;  /* Устанавливаем высоту иконки */
    margin-right: 10px;  /* Добавляем небольшой отступ справа от иконки */
}
.left_menu .dropdown-list {
    display: none;
    background-color: var(--color-bg-3);
    border: 1px solid var(--color-border-1);
    border-radius: 4px;
    padding: 12px 0 4px;
    margin: -8px 4px 0;
    position: relative;
    overflow: hidden
}


.dropdown-list .item_level_2 {
    margin: 5px 0;
}

.dropdown-list .item_link_2 {
    padding: 8px 10px; /* Сужаем область клика */
    border-radius: 5px;
    width: calc(100% - 20px); /* Учитываем отступы */
    box-sizing: border-box;
}

.item_link_1.active + .dropdown-list {
    display: block; /* Показывать подменю, если активное */
}

.svg {
    font-size: 0!important;
    display: inline-block;
    margin: 1px 2px 0
}

.svg svg {
    fill: inherit;
    transition: fill .15s
}

.svg.svg-8 {
    width: 8px;
    height: 8px
}

.svg.svg-8 svg {
    width: 8px;
    height: 8px
}

.svg.svg-10 {
    width: 10px;
    height: 10px
}

.svg.svg-10 svg {
    width: 10px;
    height: 10px
}

.svg.svg-12 {
    width: 12px;
    height: 12px
}

.svg.svg-12 svg {
    width: 12px;
    height: 12px
}

.svg.svg-14 {
    width: 14px;
    height: 14px
}

.svg.svg-14 svg {
    width: 14px;
    height: 14px
}

.svg.svg-16 {
    width: 16px;
    height: 16px
}

.svg.svg-16 svg {
    width: 16px;
    height: 16px
}

.svg.svg-18 {
    width: 18px;
    height: 18px
}

.svg.svg-18 svg {
    width: 18px;
    height: 18px
}

.svg.svg-20 {
    width: 20px;
    height: 20px
}

.svg.svg-20 svg {
    width: 20px;
    height: 20px
}

.svg.svg-22 {
    width: 22px;
    height: 22px
}

.svg.svg-22 svg {
    width: 22px;
    height: 22px
}

.svg.svg-24 {
    width: 24px;
    height: 24px
}

.svg.svg-24 svg {
    width: 24px;
    height: 24px
}

.svg.svg-26 {
    width: 26px;
    height: 26px
}

.svg.svg-26 svg {
    width: 26px;
    height: 26px
}

.svg.svg-28 {
    width: 28px;
    height: 28px
}

.svg.svg-28 svg {
    width: 28px;
    height: 28px
}

.svg.svg-30 {
    width: 30px;
    height: 30px
}

.svg.svg-30 svg {
    width: 30px;
    height: 30px
}

.svg.svg-32 {
    width: 32px;
    height: 32px
}

.svg.svg-32 svg {
    width: 32px;
    height: 32px
}

.svg.svg-34 {
    width: 34px;
    height: 34px
}

.svg.svg-34 svg {
    width: 34px;
    height: 34px
}

.svg.svg-36 {
    width: 36px;
    height: 36px
}

.svg.svg-36 svg {
    width: 36px;
    height: 36px
}

.svg.svg-38 {
    width: 38px;
    height: 38px
}

.svg.svg-38 svg {
    width: 38px;
    height: 38px
}

.svg.svg-40 {
    width: 40px;
    height: 40px
}

.svg.svg-40 svg {
    width: 40px;
    height: 40px
}

.svg.svg-42 {
    width: 42px;
    height: 42px
}

.svg.svg-42 svg {
    width: 42px;
    height: 42px
}

.svg.svg-44 {
    width: 44px;
    height: 44px
}

.svg.svg-44 svg {
    width: 44px;
    height: 44px
}

.svg.svg-46 {
    width: 46px;
    height: 46px
}

.svg.svg-46 svg {
    width: 46px;
    height: 46px
}

.svg.svg-48 {
    width: 48px;
    height: 48px
}

.svg.svg-48 svg {
    width: 48px;
    height: 48px
}

.svg.svg-50 {
    width: 50px;
    height: 50px
}

.svg.svg-50 svg {
    width: 50px;
    height: 50px
}

.svg.svg-52 {
    width: 52px;
    height: 52px
}

.svg.svg-52 svg {
    width: 52px;
    height: 52px
}

.svg.svg-54 {
    width: 54px;
    height: 54px
}

.svg.svg-54 svg {
    width: 54px;
    height: 54px
}

.svg.svg-56 {
    width: 56px;
    height: 56px
}

.svg.svg-56 svg {
    width: 56px;
    height: 56px
}

.svg.svg-58 {
    width: 58px;
    height: 58px
}

.svg.svg-58 svg {
    width: 58px;
    height: 58px
}

.svg.svg-60 {
    width: 60px;
    height: 60px
}

.svg.svg-60 svg {
    width: 60px;
    height: 60px
}

.svg.svg-62 {
    width: 62px;
    height: 62px
}

.svg.svg-62 svg {
    width: 62px;
    height: 62px
}

.svg.svg-64 {
    width: 64px;
    height: 64px
}

.svg.svg-64 svg {
    width: 64px;
    height: 64px
}
